<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rankBoard.mapper.rankBoardMapper">

	<select id="selectAll" parameterType="Map" resultType="GoodTaxi">
		SELECT 
			D.ID AS DRIVER_ID
			, D.NAME AS DRIVER_NAME
			, D.ROUTE_ID
			, R.NAME AS ROUTE_NAME
			, D.CAR_ID
			, D.COMPANY
		FROM tb_sg_driver D
		INNER JOIN tb_sg_route R
		ON D.ROUTE_ID = R.ID
		WHERE D.ID = #{id} 
		AND D.PASSWORD = #{password}
		
	</select>

	<insert id="insert" parameterType="Map" useGeneratedKeys="true" keyProperty="seq">
		
	</insert>
	
	<update id="endDriving" parameterType="Map">
		
	</update>
	
	<insert id="collectLocation" parameterType="Map">
	
	</insert>
	
	<select id="selectOne" resultType="rankBoard">
	
	</select>
	
	
	
	<delete id="delete" parameterType="Map" >
		 
	</delete>



	<update id="update" parameterType="Map" >
		
	</update>
	
</mapper>